.vs
.vscode
.idea
cmake-build-*/
build
out
dependencies/ASTCpp
scripts/check.py
scripts/file_validator.py
scripts/project_config.py
scripts/project_utils.py
scripts/project_validator.py
scripts/string_utils.py
scripts/git_hooks