/.vs
/.idea
/.continue
/cmake-build-*/
/build
/docs/build
/out
/libs/
/more/
/tools/
/dependencies/JustReflectMe
/.jrm/cache.data
/.cache

.vscode
string_metrics.csv
iwyu.log

__pycache__

/sources/**/*.generated.h
/sources/**/*.generated.inl
/sources/**/*.generated.cpp

/tests/**/*.generated.h
/tests/**/*.generated.inl
/tests/**/*.generated.cpp

/data/editor/*.json
/data/scene/*.json
/data/config/**/*.json

gl-code-quality-report.json